extends layout 

block content 
  div.index-wrapper
    div.title-container
      h1= title
      img.book-img(src="/images/book-ribbon.png", alt="Present")
    h2 Welcome, #{currentUser.firstname}

    div.general 
      