extends layout 

block content 
  div.home-wrapper 
    div.home-title-wrapper
      div.title-container.home-title
        h1= title
        img.book-img(src="/images/book-ribbon.png", alt="Present")
      h2 Welcome, #{currentUser.firstname}

    div.home-content
      div
        h3(style="text-decoration:underline") My General Gift Hints  
          span(style="margin-left:10px") 
            a(href="/home/gift-preferences" style="font-size:0.9rem") | Edit Your Gift Hints |
        p I generally like...
        ul  
          each preference in currentUser.gift_preferences 
            li(style="margin-left:10px")= "✓ " + preference
      div 
        h3(style="text-decoration:underline") Gifts I'm Buying 
        ul 
          each gift in friends_gifts
            li= gift.name

