doctype html
html
  head
    title= "GiftID"

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=News+Cycle:wght@400;700&family=Passions+Conflict&display=swap" rel="stylesheet")

    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type="module" src="/javascripts/script.js" defer)
    block scripts 

  body
    header 
      div.header-wrapper 
        a(href="/")
          img.logo(src="/images/logo.png", alt="")
        div 
          nav 
            if currentUser
              ul.header-nav 
                li.btn 
                  a(href="/my-list") My List 
                li.btn 
                  a(href="/search") Search  
                li.btn
                  a(href="/logout") Logout 
            else 
              ul.header-nav-noauth
                li.btn(style="align-self: flex-end")
                  a(href="/login") Login 
                


    div.content-wrapper
      block content
